// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#welcome {
  padding-top: 15px;
  padding: 15px 0px 0px 25px;
  margin: 0px auto
}

#pages {
 position: center;
}


.search {
  position: inline
}

.companies {
  padding: 0px 10px 0px 10px;
}

.company_form {
  padding: 0px 320px 0px 100px;
}

.company_edit {
padding: 0px 320px 0px 100px;
margin-bottom: 100px;
}
