// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  width: 500px;
  margin: 100px auto;
  text-align: center;

}

#login {
color: #3498db;
}

.action-btn {
  padding-top: 20px;
}

.username {
padding-top: 20px;
}

.password {
  margin: 10px;
}


